<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Home Page</title>
</head>
<body>
	<section class="banner d-flex justify-content-center align-items-center">
		<div class="text-center">
			<h1>Smart Contact Manager</h1>
			<p>
				Revolutionize your networking with our Smart Contact Manager: Seamlessly organize, connect, and empower your professional relationships. 
				Elevate your efficiency and effectiveness by using our app.
			</p>
			<a th:href="@{/signup}" class="btn bg-primary btn-lg text-white">Get Started</a>
		</div>
	</section>
</body>
</html>